{% zone "Header" %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="rellax masthead" data-rellax-speed="-7"
    style="background-image: url('{{ "~/MaterialDesignTheme/img/contact-bg.jpg" | href }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 style="z-index: 999; position: relative; color: white !important">
                        {{ Model.ContentItem.DisplayText }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endzone %}

<section>
    <div class="container">
        <h4 class="py-3 text-center" >Enter your information</h4>
        {{ Model.Content | shape_render }}
    </div>
</section>