{% assign link = Model.ContentItem.Content.LinkMenuItemPart %}

{% if Model.HasItems %}
    <a href="{{ link.Url | href }}" class="nav-link dropdown-toggle bottom-line-hover" data-toggle="dropdown">{{ link.Name }}<b class="caret"></b></a>
{% else %}
    <a class="nav-link bottom-line-hover" href="{{ link.Url | href }}">{{ link.Name }}</a>
{% endif %}