{% zone "Header" %}
    <!-- Header -->
    <header class="rellax" data-rellax-speed="-7">
        <style>
            /* Height for devices larger than 576px */
            @media (min-width: 992px) {
                #intro {
                    margin-top: -58.59px;
                }
            }
        </style>

        <!-- Background image -->
        <div id="intro" class="bg-image shadow-1-strong " style="/*! height: 100vh; */max-height: 100vh;">
            <video class="w-100 rellax" style="min-height: 100%;" playsinline="" autoplay="" muted="" loop="">
                <source src="/MaterialDesignTheme/videos/heaven.mp4" type="video/mp4">
            </video>
            <div class="mask" style="
        background: linear-gradient(
          45deg,
          rgba(29, 236, 197, 0.7),
          rgba(91, 14, 214, 0.7) 100%
        );
      ">
                <div class="container d-flex align-items-center justify-content-center text-center h-100">
                    <div class="text-white">
                        <h1 data-aos="fade-down" data-aos-duration="1500" style="color: white !important" class="mb-3">	About Orchard Skills</h1>
                        <h5 data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="600" style="color: white !important" class="mb-4">Best guide to the modular CMS framework</h5>
                        <a data-aos="fade-up" data-aos-duration="1500"  data-aos-delay="300" style="color: white !important" class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=3pPyNKJo1iU&feature=youtu.be"
                            target="_blank" rel="noreferrer" role="button">Get Started</a>
                        <a data-aos="fade-up" data-aos-duration="1500"  data-aos-delay="300" style="color: white !important" class="btn btn-outline-light btn-lg m-2" href="https://orchardskills.com/blog/getting-started-with-orchard-core"
                            target="_blank" rel="noreferrer" role="button">Documentation and source code</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- Background image -->
    </header>
    {% endzone %}


<section>   
<div class="container">
  <div class="py-3">
        <div class=" mb-3">
            <div class="row g-0">
                <div class="col-md-4 p-2 flex-center" data-aos="zoom-in-right" data-aos-delay="800"
                    data-aos-duration="1500">
                    <img src="/MaterialDesignTheme/img/webdesign.png" alt="..." class="img-fluid" />
                </div>
                <div class="col-md-8 flex-center p-2">
                    <div class="content">
                        <h2 class="title mb-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000"> Orchard
                            Core CMS Themes</h2>

                        <h5 class="title mb-3" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">BEAUTY
                            AND BRAINS WITH SIMPLE ADMINISTATION
                            AND 3RD PARTY INTEGRATION</h5>

                        <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000"> We have successfully More
                            than just a splash of glitter and
                            sparkle, our custom themes are responsive, feature-rich, lightweight, easy to manage, and
                            built using the latest features and functionality in Orchard Core CMS. Designed and
                            developed specifically to match your knowledge, skills, business processes, and preferences.
                            We are intimately familar with the Orchard Core framework and the tight integration between
                            themes, modules, and widgets, so rest assured that we deliver best-in-class, end-to-end
                            solutions.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr data-aos="zoom-in" data-aos-delay="800" data-aos-duration="1000">


        <div class=" mb-3">
            <div class="row g-0">

                <div class="col-md-8 flex-center p-2">
                    <div class="content">
                        <h2 class="title mb-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000"> Orchard
                            Core Websites and Web Apps</h2>

                        <h5 class="title mb-3" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                            FULL-FEATURED AND SECURE WEBSITES USING ORCHARD CORE BEST PRACTICES</h5>

                        <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000"> With over a decade
                            specializing in developing Orchard CMS and Orchard Core websites, we've learned a thing or
                            two. We know how to develop websites that help you achieve results, integrate with your
                            existing business processes and 3rd party services, simplify management, and automate manual
                            processes. Rest easy knowing this is all done using Orchard Core CMS best practices and
                            development standards. This isn't a hobby; It's our passion.</p>
                    </div>
                </div>
                <div class="col-md-4 p-2 flex-center" data-aos="zoom-in-right" data-aos-delay="800"
                    data-aos-duration="1500">
                    <img src="/MaterialDesignTheme/img/Responsive.png" alt="..." class="img-fluid" />
                </div>
            </div>
        </div>
        <hr data-aos="zoom-in" data-aos-delay="800" data-aos-duration="1000">



        <div class=" mb-3">
            <div class="row g-0">
                <div class="col-md-4 p-2 flex-center" data-aos="zoom-in-right" data-aos-delay="800"
                    data-aos-duration="1500">
                    <img src="/MaterialDesignTheme/img/components.png" alt="..." class="img-fluid" />
                </div>
                <div class="col-md-8 flex-center p-2">
                    <div class="content">
                        <h2 class="title mb-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000"> Custom
                            Orchard Core Modules</h2>

                        <h5 class="title mb-3" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">NEW
                            COMPETITIVE-EDGE MODULES OR ENHANCEMENTS TO EXISTING MODULES</h5>

                        <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000"> Modules are the foundation
                            of Orchard Core, providing functionality and extensibility to your CMS, modular web
                            application, or multi-tenant website. Need a new workflow component, automated process, API,
                            3rd party service integration, or enhancement to an existing module? We got you covered!
                            High performance, extensible, and feature-rich modules developed using the same built-in
                            services and coding style found in the Orchard CORE framework and CMS.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr data-aos="zoom-in" data-aos-delay="800" data-aos-duration="1000">


        <div class=" mb-3">
            <div class="row g-0">

                <div class="col-md-8 flex-center p-2">
                    <div class="content">
                        <h2 class="title mb-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                            Reusable Orchard Core CMS Widgets</h2>

                        <h5 class="title mb-3" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                            DELIVERING FUNCTIONALITY AND SIMPLIFYING ADMINISTRATION OF YOUR CMS</h5>

                        <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000"> We've built a custom widget
                            for just about everything at one time or another: image gallery, slider, FAQ, forms,
                            Twitter, Instagram, Facebook, live chat, analytics, and many other 3rd party solutions. Or,
                            maybe you require a custom widget for your specific business needs and processes? Great!
                            We've done that, too! Stunning features and easy administration. Built with extensibility,
                            performance, and reusability in mind.</p>
                    </div>
                </div>
                <div class="col-md-4 p-2 flex-center" data-aos="zoom-in-right" data-aos-delay="800"
                    data-aos-duration="1500">
                    <img src="/MaterialDesignTheme/img/Widgets.png" alt="..." class="img-fluid" />
                </div>
            </div>
        </div>
        <hr data-aos="zoom-in" data-aos-delay="800" data-aos-duration="1000">

  </div>
    </div>
  </section> 